.benefits {
&__list {
    list-style: none;
    fill: var(--secondary-text-color);
//     display: flex;
//     gap: 30px;
}

&__card {
    display: flex;
    width: 100%;
    height: 120px;
    background-color: var(--team-background-color);
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    border-radius: 4px;
    // width: 270px;
}


&__title {
    color: var(--secondary-text-color);
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    @media screen and (max-width: 767px) {
        text-align: center;
    }
}

&__paragraph {
    max-width: 270px;
    margin-top: 10px;
}
}