.hero {
  padding: 118px 15px;
  margin: 0 auto;
  max-width: 480px;
  height: 400px;
  background-position: center;
  background-color: var(--hero-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-device-pixel-ratio: 2), 
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: url(../../images/hero@2x.jpg.jpg);
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  @media screen and (min-width: 1200px) {
    padding: 200px 15px;
    max-width: 1600px;
    height: 600px;
  }

  &__title {
    color: var(--nav-background-color);
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    width: 360px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin: 0 auto;

    @media screen and (min-width: 1200px) {
      font-size: 44px;
      line-height: 1.36;
      width: 696px;
    }
  }

  &__button {
    background-color: var(--bg-color);
    color: var(--nav-background-color);
    cursor: pointer;
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    border: none;
    display: block;
    letter-spacing: 0.06em;
    padding: 10px 24px;
    margin: 30px auto 0 auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: background-color var(--transition-time);

    @media screen and (min-width: 1200px) {
      padding: 10px 32px;
    }

    &:hover,
    &:focus {
      background-color: var(--activ-bg-color);
    }
  }
}
