.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: var(--nav-background-color);
  padding: 48px 40px;

  &.is-open {
    display: block;
  }

  &__button-close {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 10px;
    right: 15px;
    transition: fill var(--transition-time);
    &:hover,
    &:focus {
      fill: var(--prime-logo-color);
    }
  }
  &__nav {
    list-style: none;
    gap: 32px;
  }

  &__nav-item:not(:last-child) {
    margin-bottom: 32px;
  }

  &__nav-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    transition: color var(--transition-time);
    &:hover,
    &:focus {
      color: var(--prime-logo-color);
    }
  }

  &__list {
    list-style: none;
    margin-top: 306px;
  }

  &__list-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--prime-text-color);
    transition: color var(--transition-time);
    &:hover,
    &:focus {
      color: var(--prime-logo-color);
    }
  }

  &__list-item:not(:last-child) {
    margin-bottom: 32px;
  }

  &__social {
    list-style: none;
    margin-top: 64px;
    display: flex;
  }

  &__social-link {
    text-decoration: none;
    padding: 0 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--prime-logo-color);
  }

  &__social-item:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}
