.deackdrop {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transform: scale(1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    padding: 40px 40px;
    background-color: var(--nav-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

&__button {
    position: absolute;
    display: flex;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: transparent;
    align-items: center;
    cursor: pointer;
    outline: none;
    transition: fill var(--transition-time);
}

&__button:hover,
.modal__button:focus {
    fill: var(--prime-logo-color);
}

&__title {
    margin-bottom: 12px;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}
}

.form {
&__control {
    position: relative;
}

&__label {
    display: flex;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    margin-bottom: 4px;
    gap: 10px;
}

&__label:not(:first-child) {
    margin-top: 10px;
}

&__input {
    width: 100%;
    padding: 11px 11px 11px 30px;
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
    outline: none;
    transition: border-color var(--transition-time),
    border-radius var(--transition-time), color var(--transition-time);

    &:focus {
        border-color: var(--prime-logo-color);
        border-radius: 4px;
        color: var(--prime-logo-color);
    }
}

&__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    transition: fill var(--transition-time);
}

&__input:focus+&__icon {
    fill: var(--prime-logo-color);
}

&__textarea {
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
    outline: none;
    transition: border-color var(--transition-time),
    border-radius var(--transition-time), color var(--transition-time);

    &:focus {
        border-color: var(--prime-logo-color);
        border-radius: 4px;
        color: var(--prime-logo-color);
        }
}

&__button {
    background-color: var(--bg-color);
    color: var(--nav-background-color);
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    border: none;
    display: block;
    letter-spacing: 0.06em;
    padding: 10px 52px;
    margin: 30px auto 0 auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: background-color var(--transition-time);
    outline: none;

    &:hover, &__button:focus {
    background-color: var(--activ-bg-color);
}
}
}

.checkbox {
&__container {
    position: relative;
    margin-left: 14px;
}

&__input {
    appearance: none;
}

&__label {
    padding-left: 24px;
}

&__label::after {
    position: absolute;
    top: 50%;
    left: 0;
    width: 16px;
    height: 15px;
    transform: translateY(-50%);
    border: 2px solid var(--secondary-text-color);
    border-radius: 2px;
    transition: background-color var(--transition-time), border var(--transition-time);
    content: '';
}

&__link {
    color: rgba(33, 150, 243, 1);
}


&__icon {
    position: absolute;
    top: 50%;
    left: 3px;
    transform: translateY(-50%);
    fill: var(--nav-background-color);
    opacity: 0;
    z-index: 1;
    transition: opacity var(--transition-time);
}

&__input:checked~&__icon {
    opacity: 1;
}

&__input:checked~&__label::after {
    background-color: #2196f3;
    border: none;
}
}


