.header {
  margin: 0 auto;
  border-bottom: 1px solid var(--border-header-color);

  &__container {
    max-width: 480px;
    padding: 0 15px;
    margin: 0 auto;

    @media screen and (min-width: 768px) {
      max-width: 768px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    @media screen and (min-width: 1200px) {
      max-width: 1200px;
    }
  }

  &__list {
    display: none;

    @media screen and (min-width: 768px) {
      list-style: none;
      display: flex;
      gap: 50px;
      margin-left: 88px;
    }

    @media screen and (min-width: 1200px) {
     margin-left: 93px;
    }
  }

  &__contact {
    display: none;
    
    @media screen and (min-width: 768px) {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    @media screen and (min-width: 1200px) {
     gap: 50px;
     flex-direction: row;
    }
  }

  &__contacts {
    text-decoration: none;
    position: relative;
    align-items: center;
    color: var(--prime-text-color);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color var(--transition-time);
    display: flex;
    outline: none;

    @media screen and (min-width: 1200px) {
     padding: 32px 0;
    }

    &:hover,
    &:focus {
      color: var(--prime-logo-color);
    }
  }

  &__img {
    margin-right: 10px;
    fill: var(--prime-text-color);
    transition: fill var(--transition-time);
  }

  &__contacts:hover &__img,
  &__contacts:focus &__img {
    fill: var(--bg-color);
  }

  &__mobile-menu {
    display: block;
    border: none;
    background-color: transparent;
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
}
