.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;

&__list {
    list-style: none;
    display: flex;
    gap: 8px;
    justify-content: center;
}

&__button {
    background-color: var(--team-background-color);
    color: var(--secondary-text-color);
    cursor: pointer;
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    border: none;
    border-radius: 4px;
    display: block;
    padding: 6px 22px;
    transition: background-color var(--transition-time),
    color var(--transition-time), box-shadow var(--transition-time);

    &:hover, &:focus {
    background-color: var(--bg-color);
    color: var(--nav-background-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}
}
}